<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>BMI Application</h1>
        <button onclick="window.location.href='/bmi_calculator'">Calculator</button>
        <br/><br/>
        <button onclick="window.location.href='/data_analytics'">Data Analytics</button>
    </div>
</body>
</html>
